body {
  background: grey;
}

button {
  cursor: pointer;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  color: rgb(12, 87, 156);
  font-size: 30px;
}

ul {
  list-style: none;
}